body {
  background-image: url("united.jpg");
}

:root {
  --main-color: rgba(221, 72, 20, 1);
  --main-color-transparent: rgba(221, 72, 20, 0.5);
  --main-color-text: white;
}

.navbar-right > .input-group > span {
  background-color: orange;
}
